# ENVIRONMENT VARIABLES #
#########################

# MODE #
########
RAILS_ENV='development'

# DATABASE #
############
DATABASE_URL='postgresql://root:root@localhost:5432'
DATABASE_DEV='webhook_dev'
DATABASE_TEST='webhook_test'
